/* BANNER VIDEO  */
body, html {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.hero {
    position: relative;
    height: 100vh; /* Full height */
    overflow: hidden;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the whole screen */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.5rem;
}
/* BANNER HERO */